@page
@model PrivacyModel
@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>This page is dedicated to the terrain algorithm</p>









<div id="jumbotron" class="container-fluid bg-dark text-white">
    <div class="container">
        <h1 class="display-4">A Page dedicated to Fractal information</h1>
        

    </div>


    <div class="container-fluid" id="Container_Diamond">
        <div class="row">
           <p> The diamond square algorithm uses a series of iterations which assigns values inside a two dimensional array, these represent the Z values in a heightmap</p>


        </div>
    </div>






</div>



    <script src="~/js/site.js"></script>
    <script>

                // const canvas = document.querySelector('#fractal_canvas');

                //  function main() {

                //    threejs_render();
                //  }










    </script>









